<section class="section other-projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    {% for project in site.data.3_projects %}
    <div class="project">

      <div class="project__image">
        <img 
          src="{{ project.image }}" 
          alt="{{ project.name | escape }}" 
          loading="lazy"
          onerror="this.onerror=null; this.src='https://via.placeholder.com/150?text=?';"
          {% if project.image_max %}style="max-width: {{ project.image_max }}px; width: 100%; height: auto;"{% endif %}>
      </div>

      <div class="project__name">
        {% include smart-link.html href=project.url class="arrow-link" text=project.name %}
      </div>

      <p>{{ project.description }}</p>

      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{ item.thing }}</span>
        {% endfor %}
      </div>
      
    </div>
    {% endfor %}
  </div>
</section>