<section class="section internship experience">
    <div class="section__title">Internship</div>
    <div class="section__content">
      <div class="jobs">
        {% assign internships = site.data.7_internship | default: empty %}
        {% for intern in internships %}
        <div class="job">
          <div class="time-place">
            <div class="job__company">{{ intern.position }}</div>
            <div class="job__time">{{ intern.time }}</div>
          </div>

          <div class="job__position">
            {{ intern.description }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>