<section class="section education experience">
  <div class="section__title">Education</div>
  <div class="section__content">
    <div class="jobs">
      {% assign edu = site.data.9_education | default: empty %}
      {% for e in edu %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">{{ e.degree }}</div>
          <div class="job__time">{{ e.time }}</div>
        </div>
        <div class="job__position">{{ e.school }}</div>
        <div class="job__description">{{ e.description }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>