<section class="section publications other-projects">
  <div class="section__title">Publications</div>
  <div class="section__content">
    {% for pub in site.data.9_publications %}
    <div class="project">

      <div class="project__image">
        <a href="{{ pub.url }}" target="_blank" rel="noopener">
          <img 
            src="{{ pub.image }}" 
            alt="{{ pub.name }}" 
            loading="lazy"
            onerror="this.onerror=null;this.src='https://via.placeholder.com/150?text=?';"
            {% if pub.image_max %}style="max-width: {{ pub.image_max }}px; width: 100%; height: auto;"{% endif %}>
        </a>
      </div>

      <div class="project__name">
        <a href="{{ pub.url }}" target="_blank" rel="noopener" class="arrow-link">
          {{ pub.name }}
        </a>
      </div>

      <p>{{ pub.description }}</p>

    </div>
    {% endfor %}
  </div>
</section>