<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Copyright 2025 John Ivan.</span>
    </div>
    <div class="bottom">
      <span>All rights reserved.</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    {% assign key = link.title %}
    {% capture icon_light %}/img/social/{{ key }}-dark.webp{% endcapture %}
    {% capture icon_dark  %}/img/social/{{ key }}-light.webp{% endcapture %}
    <a href="{{link.url}}" target="_blank" title="{{key}}">
      <span class="text">{{key}}</span>
      <img
        class="social-icon"
        alt="{{key}}"
        src="{{ icon_light | relative_url }}"
        data-light="{{ icon_light | relative_url }}"
        data-dark="{{ icon_dark  | relative_url }}"
      >
    </a>
    {% endfor %}
  </div>
</footer>
