<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <!-- Programming Languages -->
      <div class="skillz__category">
        <div class="skillz__category__label">Programming Languages</div>
        <ul>
          {% for lang in site.data.skills.programming_languages %}
          <li class="skillz__category__item">{{ lang.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Machine Learning Tools -->
      <div class="skillz__category">
        <div class="skillz__category__label">Machine Learning Tools</div>
        <ul>
          {% for ml in site.data.skills.machine_learning_tools %}
          <li class="skillz__category__item">{{ ml.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Generative AI Tools -->
      <div class="skillz__category">
        <div class="skillz__category__label">Generative AI Tools</div>
        <ul>
          {% for tech in site.data.skills.generative_ai_tools %}
          <li class="skillz__category__item">{{ tech.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Data Management -->
      <div class="skillz__category">
        <div class="skillz__category__label">Data Management</div>
        <ul>
          {% for data in site.data.skills.data_management %}
          <li class="skillz__category__item">{{ data.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Other Technologies -->
      <div class="skillz__category">
        <div class="skillz__category__label">Other Technologies</div>
        <ul>
          {% for tech in site.data.skills.other_technologies %}
          <li class="skillz__category__item">{{ tech.item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>