---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <!-- Swup swaps only this container -->
  <main id="swup" class="swup-transition">
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- Theme toggle -->
  <div class="switch-wrapper">
    <div class="sun"></div>
    <div class="toggle-wrapper">
      <input id="switch" type="checkbox" />
      <label for="switch">Toggle</label>
    </div>
    <div class="moon"></div>
  </div>

  <!-- Back-to-top button -->
  <button id="top-button" title="Back to top">
    <img src="{{ site.baseurl }}/img/icons/arrow-up.svg" alt="Top" />
  </button>

  {% include scripts.html %}
</body>
</html>